/*后勤保障*/

.logistics ul {
  margin: 12px;
}
.logistics ul li {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
}
.logistics ul li img {
  width: 268px;
  height: 203px;
  margin: 10px 0 20px 0;
}
.logistics-r span  {
  margin: 10px;
  width: 155px;
  height: 24px;
  line-height: 24px;
  display: block;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}
.logistics p {
  margin: 15px;
  color: #333;
  font-family: "微软雅黑";
  font-size: 14px;
}
.logistics .bgc2 {
  background: #989933;
}
.logistics .bgc1 {
  background:#006766;
}