.wlzx p{
  text-align: center;
  color: #333;
  font-size: 14px;
  margin: 10px;
}

.wlzx .img {
  position: relative;
  height: 354px;
  margin: 10px;
}
.img img {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -292px;
}